// Quasar Sass Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass files.

$primary   : #5E35B1
$secondary : #7E57C2
$accent    : #9575CD

$dark      : #121212

$positive  : #43A047
$negative  : #E53935
$info      : #2196F3
$warning   : #FB8C00
